.message__card {
    /* padding: 10px; */
    box-sizing: border-box;
    margin: 10px;
    border-radius: 1.125rem 1.125rem 1.125rem 0 !important;
    text-align: left;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.075), 0rem 1rem 1rem -1rem rgba(0, 0, 0, 0.1);
	width: fit-content;
}

/* .message__guest__card{
    background-color: #cf0f00 !important;
} */

.message__user__card {
   /* margin-left: auto;
   color: white;
   text-align: left !important;
   background-color: #5959be !important;
   border-radius: 40px !important; */
    margin: 1rem 1rem 1rem auto;
    border-radius: 1.125rem 1.125rem 0 1.125rem !important;
    background: #333 !important;
    color: white !important;
}
